@import "http://fonts.googleapis.com/css?family=Raleway";

body {
  font-family: 'Raleway', sans-serif;
}

.login {
  width: 350px;
  margin: 50px auto 0;
  padding: 50px;
  background-color: #eee;
  color: #333;
  border: 2px solid #c2d6ff;
  border-radius: 40px 0 40px 0;
}

.message {
  text-align: center;
  color: #28a745;
  margin-bottom: 10px;
}
.message.error {
  color: red;
}

label {
  font-size: 15px;
  font-weight: 700;
  display: block;
  margin-top: 10px;
}

.log-input {
  background-color: #fff;
  border: 1px solid #dadada;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
  width: 100%;
  height: 35px;
  font-size: 14px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
}

.log-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 10px #c2d6ff;
}

.log-button {
  background-color: #cc7a66;
  border-radius: 5px;
  border: none;
  padding: 10px 25px;
  color: #fff;
  text-shadow: 1px 1px 1px #949494;
  width: 100%;
  cursor: pointer;
}

.log-button:hover {
  background-color: #ff9980;
}

.link{
    margin-top: 30px;

}
.link Link{
    text-decoration: none;
    color: #00ff55;
}
@media screen  and (max-width:600px){
  .login{
    width: 50%;
    margin-top: -100px;
  }
}
